

<div class="footer" ng-show="footerShow">
			<ul class="clearfix">
				<li class="{true:active,false:''}[menuindex==1]" ng-click="gohome()"><i class="ico ico_home"></i><span>首页</span></li>
				<li class="{true:active,false:''}[menuindex==1] " ng-click="gogame()"><i class="ico ico_game"></i><span>游戏</span></li>
				<li class="{true:active,false:''}[menuindex==1] " ng-click="gokf()"><i class="ico ico_kf"></i><span>客服</span></li>
				<li class="{true:active,false:''}[menuindex==1]" ng-click="gomy()"><i class="ico ico_my"></i><span>我的</span></li>
			</ul>
			
</div>